/* Reset */
* {
    margin: 20px;
    padding: 10;
    /* box-sizing: border-box; */
}

/* Page layout */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: burlywood;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Title */
h1 {
    color: #333;
    margin-bottom: 10px;
}

/* Cart container (Flexbox column) */
.cart-container {
    width: 100%;
    max-width: 700px;

    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}

/* Cart item card (Flexbox row) */
.cart-item {
    background: blue;
    padding: 15px 20px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between; 
    align-items: center;

    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* Left side content */
.cart-item p {
    margin: 3px 0;
    color:blue;
}

/* Remove button */
.cart-item a {
    text-decoration: none;
    color: #e53935;
    font-weight: bold;
    transition: 0.3s;
}

.cart-item a:hover {
    text-decoration: underline;
}

/* Total section */
.total {
    font-size: 20px;
    color: #222;
    margin-top: 10px;
}

/* Actions container (Flexbox row) */
.actions {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

/* Buttons */
.actions a {
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Checkout button */
.checkout-btn {
    background: #4CAF50;
    color: green;
}

.checkout-btn:hover {
    background: blue;
    transform: scale(1.05);
}

/* Continue shopping button */
.continue-btn {
    background: #2196F3;
    color: white;
}

.continue-btn:hover {
    background: #1565C0;
    transform: scale(1.05);
}