{%load static%}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'static/home.css'%}">
</head>
<body>
    <h1>FlavorFoundry Market</h1>

<a href="{% url 'cart' %}">Cart</a>

{% for product in products %}
  <div>
    <h3>{{ product.name }}</h3>
    <p>${{ product.price }}</p>
    <a href="{% url 'product_detail' product.id %}">View</a>
  </div>
{% endfor %}
</body>
</html>